.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem var(--page-padding);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.mainPage__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.region-select {
  min-width: 200px;
}
