.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--page-padding);
  border-bottom: 2px solid var(--border-color);
  background-color: var(--background-secondary-color);
}
